@model Wikipages.Models.Business

<html>
<head>
    <title>Wikipages - Business Details for @Html.DisplayNameFor(model => model.BusinessName)</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    <strong>Category:</strong> @Html.DisplayFor(model => model.CategoryId) <hr />
    <strong>Description:</strong> @Html.DisplayFor(model => model.BusinessDescription) <hr />
    <strong>Phone:</strong> @Html.DisplayFor(model => model.BusinessPhone) <br />
    <strong>Address:</strong> <br />
        @Html.DisplayFor(model => model.BusinessStreet) <br />
        @Html.DisplayFor(model => model.BusinessCity), @Html.DisplayFor(model => model.BusinessState) @Html.DisplayFor(model => model.BusinessZip) <br />
    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.BusinessId }) | @Html.ActionLink("Back to List", "Index")</p>
</body>
</html>