@model IEnumerable<Wikipages.Models.Business>

<html>
<head>
    <title>Wikipages</title>
</head>
<body>
    <h2>Businesses</h2>
    <hr />
    <table class="table">
        <tr>
            <th>
               Name
            </th>
            <th>
               Category
            </th>
            <th></th>
        </tr>

        @foreach (var business in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelBusiness => business.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelBusiness => business.Category.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = business.BusinessId }) |
                    @Html.ActionLink("Details", "Details", new { id = business.BusinessId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = business.BusinessId })
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Create New Business", "Create")
    </p>
</body>
</html>